@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('/public/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'Roboto-bold';
    src: url('/public/Roboto/Roboto-Bold.ttf');
    font-weight:bold;
  font-style: normal;
}