@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'Roboto-bold';
    src: url('/Roboto/Roboto-Bold.ttf');
    font-weight:bold;
  font-style: normal;
}


  .reset_apperance > h1{
    @apply  prose-h1:text-4xl !important;
    
  }
 
  


